<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='admin_login.css') }}">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <a href="{{ url_for('index') }}">ResumeParser</a>
            </div>
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('admin_login') }}">Admin</a></li>
            </ul>
        </nav>
    </header>

    <main>
    <div class="login-container">
        
        <h2>Welcome Admin!</h2>
        <!-- <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" class="logo"> -->
        <!-- <strong>Enter Login Details</strong> -->
        <!-- {% if error %}
            <div class="error-message">{{ error }}</div>
        {% endif %} -->
        <form action="{{ url_for('admin_login') }}" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <input type="submit" value="Login">
        </form>
    </div>
    </main>
    <footer>
        <p>&copy; 2024 Resume Parser. All Rights Reserved.</p>
    </footer>
</body>
</html>
