<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload Resume</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <a href="{{ url_for('index') }}">Resume Screening App</a>
            </div>
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('admin_login') }}">Admin</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="intro">
            <h1>Welcome to Resume Screening App</h1>
            <p>Parse your resumes quickly and efficiently with our powerful tool.</p>
            <form action="{{ url_for('upload_file') }}" method="post" enctype="multipart/form-data">
                <input type="file" name="file" id="file" required>
                <br><br>
                <label for="job_role">Select Job Role:</label>
                <select name="job_role" id="job_role">
                    <!-- <option value=" "> </option> -->
                    <option value="Data Scientist">Data Scientist</option>
                    <option value="Data Analyst">Data Analyst</option>
                    <option value="Software Engineer">Software Engineer</option>
                    <option value="Application Developer">Application Developer</option>
                    <option value="Sales Executive">Sales Executive</option>
                    <option value="Web Developer">Web Developer</option>
                    <option value="Business Analyst">Business Analyst</option>
                    <option value="Accountant">Accountant</option>
                    <option value="Civil Engineer">Civil Engineer</option>
                    <option value="Network Engineer">Network Engineer</option>
                    <option value="UI/UX Designer">UI/UX Designer</option>
                    <option value="Human Resource Manager">HR Manager</option>
                    <option value="Marketing Specialist">Marketing Specialist</option>
                    <option value="Chemical Engineer">Chemical Engineer</option>
                    <option value="Project Manager">Project Manager</option>
                    <option value="Mechanical Engineer">Mechanical Engineer</option>
                </select>
                <br><br>
                <input type="submit" value="Upload" class="upload-btn">
            </form>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Resume Screening App. All Rights Reserved.</p>
    </footer>

    <script>
        document.getElementById('file').addEventListener('change', function() {
            var fileName = document.getElementById('file').files[0].name;
            var fileChosen = document.getElementById('file-chosen');
            fileChosen.textContent = fileName;
        });
    </script>
</body>
</html>
