/* General styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #5e6ddf, #49eef4);
    margin: 0;
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background: rgba(0, 0, 0, 0.6);
    padding: 10px 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo a {
    text-decoration: none;
    font-size: 1.5em;
    color: #fff;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Main content */
main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.intro {
    background: #f3eeed;
    padding: 30px;
    color: #0c0c0c;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 600px;
}

.intro h1 {
    margin-bottom: 20px;
}

.intro p {
    font-size: 1.1em;
    margin-bottom: 20px;
}
.file{
    align-content: center;
}

.upload-btn {
    display: inline-block;
    padding: 5px 20px;
    background: #5c63e3;
    border: none;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.upload-btn:hover {
    background: #212cf6;
}

/* Footer */
footer {
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    padding: 10px 20px;
}

footer p {
    margin: 0;
    color: #fff;
}
